* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
    scroll-behavior: smooth;
}

body {
    width: 100%;
    overflow-x: hidden;
    background: #0f172a;
    color: #e2e8f0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 24px 15%;
}

nav > h1 {
    font-size: 24px;
    font-weight: 700;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 24px;
}

a {
    text-decoration: none;
    color: #e2e8f0;
}

.home-section {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header {
    font-size: 48px;
    width: 800px;
    text-align: center;
    font-weight: 700;
}

.cta {
    margin-top: 32px;
    font-size: 24px;
    color: #3b82f6 ;
}

.cta:hover {
    color: #58a6ff;
    transition: color 0.3s ease;
}

.project-section {
    padding-inline: 15%;
}

.title {
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    padding-bottom: 32px;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 42px;
    padding: 24px;
}

.project-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 16px;
    background: #1e293b ;
}

.project-card img {
    width: 100%;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

.project-card .card-details {
    padding: 16px;
}

.card-details h2 {
    font-weight: 700;
    padding-bottom: 16px;
}

.card-details p {
    line-height: 24px;
    padding-bottom: 24px;
}

.btns {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
    padding-block: 24px 0;
}

.btn {
    text-decoration: none;
    width: 50%;
    text-align: center;
    padding: 12px 0;
    border-radius: 8px;
    color: #e2e8f0;
}

.btns > .btn:first-child {
    background: #3b82f6;
}

.btn:first-child:hover {
    background: none;
    border: 2px solid #3b82f6;
    transition: background 0.3s ease, border 0.3s ease;
}

.btns > .btn:last-child {
    border: 2px solid #3b82f6;
}

.btn:last-child:hover {
    background: #3b82f6;
    transition: background 0.3s ease;
}

footer {
    text-align: center;
    width: 100%;
    padding: 40px 0;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }

    .header {
        width: 90%;
        font-size: 32px;
    }

    .project-section {
        padding-inline: 0;
    }
}